.d-all {
	background-color: #515e6e;
	transition: .4s;
}

.d-header__title {
	color: #ebebeb;
	transition: .4s;
}

.d-wrap-theme__label {
	color: #ebebeb;
	transition: .4s;
}

.wrap-theme__mode .active {
	transform: translateX(calc(100% + 4px));
	transition: .4s;
	background-color: #515e6e;
}

.d-wrap-theme__mode {
	background: #01b0b0;
	color: #fff;
	box-shadow: 0 0 10px 5px #01b0b0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	cursor: pointer;
	transition: .4s;
}

.d-box {
	box-shadow: inset 1px 1px 10px 5px #01b0b0, 1px 1px 10px 5px #01b0b0;
	border: 2px solid #04d3d3;
	color: #04d3d3;
	transition: .4s;
}

.d-add__label {
	color: #04d3d3;
	transition: .4s;
}

.d-add__input {
	border: 2px solid #04d3d3;
	box-shadow: inset 1px 1px 5px 1px #01b0b0, 1px 1px 5px 1px #01b0b0;
	color: #f0f0f0;
	transition: .4s;
	background: #5796af;
}

.d-add__input:disabled {
	background: #5796af52;
	border: 2px solid #04d3d352;
	box-shadow: inset 1px 1px 5px 1px #01b0b052, 1px 1px 5px 1px #01b0b052;
	color: #f0f0f0ab;
}

.d-add__input::placeholder {
	color: #f0f0f0;
}

.d-add__btn {
	background: #04d3d3;
	transition: .4s;
}

.d-add__button-on,
.d-add__button-off {
	border: 2px solid #04d3d3;
	background: #04d3d3;
	transition: .4s;
}

.d-add__button-on:hover span,
.d-add__button-on:hover span::after,
.d-add__button-off:hover span,
.d-add__button-off:hover span::after {
	background: #3da1ff;
}

.d-wrap-modal {
	background: #3600b3ad;
	transition: .4s;
}

.d-wrap-modal__form {
	background: #1e617c;
	transition: .4s;
	box-shadow: 1px 1px 10px 5px #01b0b0
}

.d-wrap-modal__input {
	color: #04d3d3;
	transition: .4s;
}

.d-wrap-modal__input select {
	background-image: url(../img/d-down-arrow.svg);
}

.d-task {
	background: #01b0b03f;
	transition: .4s;
}

.d-task__title {
	color: #04d3d3;
	transition: .4s;
}

.d-task__desc {
	color: #f0f0f0;
	transition: .4s;
}

.d-svg-edit,
.d-svg-complite,
.d-svg-del {
	transition: .4s;
}

.d-footer {
	background-color: #333c46;
	color: #ebebeb;
	transition: .4s;
}

.d-svg-edit path {
	fill: #04d3d3;
}

.d-svg-complite path {
	fill: #04d3d3;
}

.d-svg-del path {
	fill: #04d3d3;
}

.fade-enter-active,
.fade-leave-active {
	transition: .5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}